<div class="mt-5 p-4 bg-dark text-white text-center">
  <p>Mini Message Board</p>
  <a href="https://github.com/areksoulahian"
    ><i class="fa fa-github" style="font-size: 16px"
      >&nbsp;Built by Arek&nbsp;</i
    ></a
  >
</div>
